/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-color: rgb(242, 242, 242);
}

@media only screen and (max-width: 1200px) {
  .carousel-photo {
    width: 1222px;
  }
}

.app{
    background-color: white;
    // border: solid 1px red;
    margin-left: 7vw;
    margin-right: 7vw;
}

.carousel-photo{
    border-top: solid 3px rgb(255, 85, 0);
    background-image: url('sofaygo.jpeg');
    background-size: 100%;
    width: 1222px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    background-repeat: no-repeat;

    

    .header{
        padding-top: 20px;
        margin-right: 20px;
        // border: solid 1px red;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;

        .header-button{
            // border: solid 1px red;
            margin-left: auto;
        }
    }

    .header-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 9%;
    }

    .header-text{
        // border: solid 1px red;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .h1-text {
            color: honeydew;
            // border: solid 1px red;
            // font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
            font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 200;
            font-size: 41px;
            // font-weight: 100;
            // width: 100%;
            // height: 100%;
            // display: -webkit-flex;
            // display: flex;
            // text-align: center;
            // padding-top: 75px;
            // padding-bottom: 20px;
            // flex-flow: column nowrap;
            // box-sizing: border-box;
        }    
        
        .h2-text {
            color: honeydew;
            // border: solid 1px red;
            // font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
            font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: lighter;
            font-size: 28px;
            // font-weight: 100;
            width: 70%;
            // height: 100%;
            // display: -webkit-flex;
            // display: flex;
            // text-align: center;
            // flex-flow: column nowrap;
            // box-sizing: border-box;
        }
    }
}

.button{
    cursor: pointer;
    margin-right: 8px;
    font-size: 14px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 3px;
    // padding: 5px, 10px, 5px, 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 6px;
    color: white;
    font-weight: 200;
}

.sign-in{
    border: 1.5px solid white;
    background-color: transparent;
}

.sign-up{
    background-color: rgb(255, 85, 0);
    border: none;
}

.start-upload{
    background-color: rgb(255, 85, 0);
    border: none;
    font-size: 20px;
    font-weight: 325;
    padding-right: 20px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
}

.for-creators{
    border: none;
    background-color: transparent;
    padding-left: 1px;
}

.link-wrapper{
    display: flex;
}