/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-color: rgb(242, 242, 242);
}

@media only screen and (max-width: 1200px) {
  .carousel-photo {
    width: 1222px;
  }
}

.width-wrapper{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 1222px;
}

// .test{
//     color: red;
// }

.app{
    background-color: rgb(242, 242, 242);
    // border: solid 1px red;
    // margin-left: 18vw;
    // margin-right: 18vw;
}

.carousel-photo{
    border-top: solid 3px rgb(255, 85, 0);
    background-image: url('sofaygo.jpeg');
    background-size: 100%;
    width: 1222px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    background-repeat: no-repeat;

    

    .header{
        padding-top: 20px;
        margin-right: 20px;
        // border: solid 1px red;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;

        .header-button{
            // border: solid 1px red;
            margin-left: auto;
        }
    }

    .header-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 9%;
    }

    .header-text{
        // border: solid 1px red;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .h1-text {
            color: honeydew;
            // border: solid 1px red;
            // font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
            font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 200;
            font-size: 41px;
            margin-right: 16px;
            // font-weight: 100;
            // width: 100%;
            // height: 100%;
            // display: -webkit-flex;
            // display: flex;
            // text-align: center;
            // padding-top: 75px;
            // padding-bottom: 20px;
            // flex-flow: column nowrap;
            // box-sizing: border-box;
        }    
        
        .h2-text {
            color: honeydew;
            // border: solid 1px red;
            // font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
            font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: lighter;
            font-size: 28px;
            // font-weight: 100;
            width: 70%;
            // height: 100%;
            // display: -webkit-flex;
            // display: flex;
            // text-align: center;
            // flex-flow: column nowrap;
            // box-sizing: border-box;
        }
    }
}

.button{
    cursor: pointer;
    margin-right: 8px;
    font-size: 14px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 3px;
    // padding: 5px, 10px, 5px, 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 6px;
    color: white;
    font-weight: 200;
}

.sign-in{
    border: 1.5px solid white;
    background-color: transparent;
}

.sign-up{
    background-color: rgb(255, 85, 0);
    border: none;
}

.start-upload{
    background-color: rgb(255, 85, 0);
    border: none;
    font-size: 20px;
    font-weight: 325;
    padding-right: 20px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
}

.for-creators{
    border: none;
    background-color: transparent;
    padding-left: 1px;
}

.link-wrapper{
    display: flex;
}

.songs > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        position: relative;
        .thumbnail-button{
            background-color: #f50;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            height: 48px;
            width: 48px;
            border: none;
        }
        &:hover *{
            cursor: pointer;
        }
        &:hover .thumbnail-button{
            opacity: 1;
        }
    }
}

.thumbnails{
    height: 180px;
    width: 180px;
    padding: 10px;
}

.songs-header-text{
    padding: 15px;
    padding-bottom: 1px;
    font-size: 24px;
}

.songs-index-container{
    text-align: center;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sign-in-wrapper{
    width: 100%
}

.songs h1{
    display: flex;
    justify-content: flex-start;
    margin-left: 11px;
    font-size: 14px;
    // font-weight: lighter;
}

.song-show-button {
  height: 48px;
  width: 48px;
  cursor: pointer;
  background-color: #f50;
  border-radius: 50%;
  border: 0;
  color: white;
}

.song-show-image{
    height: 340px;
    width: 340px;
    padding: 20px
}

.song-show-header{
    display: flex;
    justify-content: space-between;
    height: 380px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
}

.show-text-container{
    height: 40px;
    background: black;
    padding: 3px;
}

.button-title{
    display: flex;
    padding: 20px;
}

.show-text{
    font-size: 36px;
    color: white;
    padding-left: 10px;
    padding-top: 3px;
}

.triangle{
    position: relative;
    top: auto;
    bottom: auto;
    left: 8px;
    right: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #ffffff;
    transform: scaleZ(10);
}

.page-content-container{
    // border: solid 1px red;

    display: flex;
    justify-content: space-between;
}

.git-link{
    // border: solid 1px red;
    width: 20%;
}

.form-content{
    // border: solid 1px red;
    padding: 5px;
    width: 60%;
    height: 100%;

    .form-container{
        border: solid 1px rgb(199, 194, 194);
        border-radius: 2px;
        background:	rgb(242,242,242);
        height: 34px;
        // padding-top: 7px;
        padding-left: 7px;
        padding-top: 7px;
        
        .comment-form-text-box{
            margin: auto;
            height: 20px;
            width: 97.5%;
        }
        
    }
    
    .comment-index-item-container{
        // border: solid 1px red;
        // width: 50%;
        padding: 5px;
    }
    
    .comments-index-container{
        // border: solid 1px red;
        padding: 2px;
        display: flex;
        justify-content: space-between;
        background:	rgb(242,242,242);
        border-radius: 2px;
        height: 40px;
        width: 100%;
        // height: 100px;
    }

    .delete-comment-wrapper{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 20px;
    }
    

    .time-ago-delete-button{
        height: 12px;
    }

    .delete-comment{
        height: 14px;
        width: 14px;
        background: url("garbage.png");
        background-size: cover;
        border: none;
        cursor: pointer;
    }



}