
 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
    width: 450px;
    height: 572px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    justify-content: center;
 }

 .modal-child > form{
     width: 100%;
     border: 1px solid red;

 }

 .close-x {
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
 }

 .username-sign-in{
    width: 400px;
    height: 40px;
    margin-top: 5px;

    background-color: white;
    color: grey;
    font-size: 16px;
    line-height: 18px;
    height: 40px;
    border: solid 1px grey;
    border-radius: 2px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
 }

 .password-sign-in{
    width: 400px;
    height: 40px;
    margin-top: 5px;

    background-color: white;
    color: grey;
    font-size: 16px;
    line-height: 18px;
    height: 40px;
    border: solid 1px grey;
    border-radius: 2px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
 }

 .upload-h1{
    font-size: 36px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
 }
 .upload-file{
      font-size: 20px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
 }

 .email-sign-up{
    width: 400px;
    height: 40px;
    margin-top: 5px;

    background-color: white;
    color: grey;
    font-size: 16px;
    line-height: 18px;
    height: 40px;
    border: solid 1px grey;
    border-radius: 2px;
    font-family: Interstate,Lucida Grande
 }

   .continue-sign-in{
    width: 400px;
    height: 40px;
    margin-top: 10px;
    background-color: #f50;
    color: white;
    font-size: 16px;
    line-height: 18px;
    height: 40px;
    border: none;
    border-radius: 2px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    cursor: pointer;
 }

 .log-in{
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-size: 32;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
 }

 .warning-text{
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 25;
    font-size: 12px;
    color: #999;
    line-height: 17px;
 }


 .submit-edit{
   width: 400px;
    height: 40px;
    margin-top: 5px;
    background-color: #f50;
    color: white;
    font-size: 16px;
    line-height: 18px;
    height: 40px;
    border: solid 1px grey;
    border-radius: 2px;
    font-family: Interstate,Lucida Grande;
    cursor: pointer;
 }