.playbar{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 48px;
    bottom: 0;
    z-index: 5;
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
    color: #333;
    min-width: 1200px;

}

.playbar-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1240px;
    button{
        width: 30px;
        border: none;
        cursor: pointer;
    }
}

.playbar-controls {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.playbar-seek {
  display: flex;
  align-items: center;
  flex: 1;
  span:first-child {
    margin-right: 10px;
  }
  span:last-child {
    width: 32px;
    text-align: left;
    margin-left: 10px;
    cursor: pointer;
  }
}

.playbar-seeker-container {
  display: flex;
  align-items: center;
  flex: 1;
  input[type=range]{
      cursor: pointer;
      height: 1px;
  }
}

.playbar-seeker {

  width: 100%;
}

.playbar-volume {
  margin-left: 15px;
  margin-right: 8px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.playbar-volumebar-container {
  width: 39px;
  height: 120px;
  position: absolute;
  bottom: 42px;
  left: 5px;
  z-index: 10;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 1px solid #cecece;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);

  &:before, &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    border-style: solid;
    left: 4px;
  }
  
  &:before {
    box-shadow: -3px 3px 4px rgba(0,0,0,.1);
    bottom: -10px;
    border-color: transparent transparent #ccc; 
    border-width: 5px;
    z-index: 0;
  }

  &:after {
    bottom: -8px;
    border-color: transparent transparent #f2f2f2;
    border-width: 4px;
    z-index: 1;
  }

  input {
    width: 100px;
    height: 32.5px;
    transform-origin: 50px 50px;
    transform: rotate(-90deg);
    background-color: #f2f2f2;
    cursor: pointer;
    margin-top: 9px;
  }
}

.playbar-song-item {
  display: flex;
  align-items: center;
  height: 48px;
  width: 360px;
  padding: 0 8px;
  box-sizing: border-box;
}

.playbar-song-album-art {
  margin: 0 10px 0 0;
  height: 30px;

  img {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    object-position: 50% 50%;
    object-fit: cover;  
  }
}

.playbar-song-item-container {
  display: flex;
  flex-direction: column;
  font-family:Arial, Helvetica, sans-serif;
  span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    a {
      color: #fff;
      &:hover{
        color: #333;
      }
    }
  }
  h1 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    margin-right: 10px;
    a {
      text-decoration: none;
      color: #333;
      &:hover{
        color: #000;
      }
    }
  }
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    background: #ddd;
    border: none;
    border-radius: 1px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ff5500;
    margin-top: -6.78px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.liked{
  color: #ff5500;
}

.orange-loop{
  transform: scaleX(-1);
  color: #ff5500
  
}

.time{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.current-time{
  color: #ff5500;
}

// .unliked{
//   // color: #ff5500;
// }
